.blockItem {
  flex: 1;
  border-radius: var(--radius-lg);
  padding: var(--spacing-5) var(--spacing-3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
}

.cyan {
  background: var(--color-primary);
  color: var(--color-white);
}

.yellow {
  background: var(--color-alternative-light);
  color: var(--color-black);
}

.blue {
  background: var(--color-primary-dark);
  color: var(--color-white);
}

.red {
  background: var(--color-alternative);
  color: var(--color-white);
}

.green {
  background: var(--color-alternative-dark);
  color: var(--color-white);
}
