.aboutPage {
  display: flex;
  flex-direction: column;
}

.aboutPage__visionMissionBlock {
  display: flex;
  gap: var(--spacing-6);
}

@media (max-width: 768px) {
  .aboutPage__visionMissionBlock {
    flex-direction: column;
  }
}
