.aboutPage {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

// General stacked blocks
.aboutPage > * {
  margin-top: 1.3rem;
}

.aboutPage__aboutBlock {
  padding: 2rem;
  background: #cef2f2;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.aboutPage__visionMissionBlock {
  display: flex;
  gap: 1.5rem;
}

.aboutPage__card {
  background: #d2f4f2;
  flex: 1 1 200px;
  padding: 2rem 1rem;
  border-radius: 0.7rem;
  text-align: center;
  font-size: 1.2rem;
}

.aboutPage__leadersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.2rem;
}

.aboutPage__leader {
  background: #8fd1d3;
  color: #fff;
  border-radius: 0.6rem;
  text-align: center;
  font-size: 1.08rem;
  padding: 1.4rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutPage__goalsGrid {
  background: #ef7977;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.8rem;
  margin: 1.8rem 0 .6rem 0;
  padding: 1.2rem 0.5rem;
  letter-spacing: 1px;
}

.aboutPage__goalsGrid .aboutPage__you {
  font-weight: bold;
  font-size: 1.2em;
}

.aboutPage__partnersTestimonialsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

.aboutPage__tile {
  background: #3883ad;
  color: #fff;
  font-size: 1.12rem;
  border-radius: 0.6rem;
  padding: 1.6rem 0.5rem;
  text-align: center;
}

.aboutPage__sectionBar {
  background: #a6cca7;
  border-radius: 0.7rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1.1rem 0.4rem 1rem 0.4rem;
  margin-top: 2.2rem;
}
