.aboutPage {
  width: 100%;
  max-width: var(--max-width-md);
  margin: var(--spacing-0) auto;
}

// General stacked blocks
.aboutPage > * {
  margin-top: var(--spacing-5);
}

.aboutPage__aboutBlock {
  padding: var(--spacing-8);
  background: var(--color-primary-light);
  border-radius: var(--radius-xl);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
}

.aboutPage__visionMissionBlock {
  display: flex;
  gap: var(--spacing-6);
}

.aboutPage__card {
  background: var(--color-primary-light);
  flex: 1 1 200px;
  padding: var(--spacing-8) var(--spacing-4);
  border-radius: var(--radius-lg);
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.aboutPage__leadersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing-4);
  margin-top: var(--spacing-5);
}

.aboutPage__leader {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-md);
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-6) var(--spacing-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutPage__goalsGrid {
  background: var(--color-alternative);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
  text-align: center;
  border-radius: var(--radius-xl);
  margin: var(--spacing-8) var(--spacing-0) var(--spacing-2) var(--spacing-0);
  padding: var(--spacing-5) var(--spacing-2);
  letter-spacing: 1px;
}

.aboutPage__goalsGrid .aboutPage__you {
  font-weight: var(--font-weight-bold);
  font-size: 1.2em;
}

.aboutPage__partnersTestimonialsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-4);
  margin-top: var(--spacing-6);
}

.aboutPage__tile {
  background: var(--color-primary-dark);
  color: var(--color-white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  border-radius: var(--radius-md);
  padding: var(--spacing-6) var(--spacing-2);
  text-align: center;
}

.aboutPage__sectionBar {
  background: var(--color-alternative-dark);
  border-radius: var(--radius-lg);
  color: var(--color-white);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: var(--spacing-5) var(--spacing-1) var(--spacing-4) var(--spacing-1);
  margin-top: var(--spacing-10);
}
