.newsletterSection {
  border-radius: var(--radius-lg);
}

.newsletterSection__overlay {
  background-color: var(--color-primary-light);
  opacity: 0.2;
}

.newsletterSection__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  width: 100%;
}
