.infoRowSlider {
  margin-bottom: var(--spacing-5);
}

.slider__container {
  gap: var(--spacing-3);
}

.slider__controls {
  width: 31px;
  height: 61px;
  background: transparent;
  border: none;
  color: var(--color-alternative-dark);
  cursor: pointer;
  transition: var(--transition-normal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__controls:hover {
  color: var(--color-primary-dark);
}

.slider__controls:active {
  color: var(--color-primary);
}

.slideItem {
  display: flex;
  align-items: center;
  background: var(--color-white);
  border: var(--border-alternative-dark);
  border-radius: var(--radius-lg);
  padding: var(--spacing-5);
  min-width: var(--max-width-content);
  box-sizing: border-box;
  gap: var(--spacing-6);
}

.photo {
  background: var(--color-alternative-dark);
  color: var(--color-white);
  border-radius: var(--radius-xs);
  width: var(--size-avatar);
  height: var(--size-avatar);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  color: var(--color-primary-dark);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  flex: 1 1 0;
}

.influencerItem {
  min-width: 280px;
  max-width: 320px;
  margin: var(--spacing-0) var(--spacing-2);
}
