.whatIsSection {
  border-radius: var(--radius-lg);
  margin-bottom: 30px;
}

.whatIsSection_overlay {
  background-color: var(--color-primary);
  opacity: 0.6;
}

.whatIsSection_content {
  padding: var(--spacing-16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

.whatIsSection__title {
  color: var(--color-white);
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-shadow: var(--text-shadow-default);
}

.whatIsSection__subTitle {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-shadow: var(--text-shadow-default);
}

.whatIsSection__text {
  color: var(--color-white);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-normal);
  text-shadow: var(--text-shadow-default);
  margin: 0;
  text-align: center;
  max-width: 800px;
}